<div class="container-fluid py-4">
  <h5 class="fw-bold border-bottom pb-2 ">ระบบลางาน</h5>
</div>
<div class="col-12 mx-auto">
<div class="container-fluid">
  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">แดชบอร์ด</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/request-leave" routerLinkActive="active">ขอลางาน</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/leave-history" routerLinkActive="active">ประวัติการลา</a>
    </li>
    <li class="nav-item ms-auto">
      <a class="nav-link" routerLink="/leave-manager" routerLinkActive="active">อนุมัติ</a>
    </li>
      <li class="nav-item ">
      <a class="nav-link" routerLink="/leave-balance" routerLinkActive="active">สถิติ</a>
    </li>
  </ul>


  <router-outlet></router-outlet>

<div class="theme-toggle">
  <label class="switch">
    <input
      type="checkbox"
      aria-label="Toggle dark mode"
      (change)="toggleTheme($event)"
      [checked]="isDark"
    >
    <span class="slider round"></span>
  </label>
</div>
